.breadcrumbs {
  flex: 1 1;
  padding: 0;
  line-height: var(--nav-line-height);
  color: var(--doc-font-color);
  font-family: var(--default-font-family);
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.breadcrumbs-container {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px) saturate(1.2);
  border-bottom: 1px solid rgba(25, 30, 30, 0.14);
}

html.dark-theme .breadcrumbs-container {
  background: rgba(28, 25, 23, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.14);
}

@media screen and (min-width: 1024px) {
  .breadcrumbs {
    max-width: var(--doc-max-width--desktop);
    min-width: 0;
  }
  .breadcrumbs-container {
    position: sticky;
    top: 83px;
    padding: 20px 20px;
    margin: 0 -1rem;
    z-index: 99;
  }
}

a + .breadcrumbs,
button + .breadcrumbs {
  padding-left: 0.05rem;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline;
  margin: 0;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 0.5rem;
}

.breadcrumbs li:last-of-type::after {
  content: none;
}

#copy-url {
  content: "";
  filter: var(--codetools-button-filter);
  background-image: url(../img/url.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

#copy-url.copied {
  background-image: url(../img/check.svg);
}

#copy-url::after {
  content: none;
}

#copy-url:hover {
  cursor: pointer;
}
