@media screen and (max-width: 1023.5px) {
  aside.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
  }

  .toc.embedded {
    display: none;
  }

  aside.sidebar {
    flex: 0 0 var(--toc-width);
    flex-basis: var(--toc-width--widescreen);
    order: 1;
  }
}

@media screen and (min-width: 1216px) {
  aside.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
}

.flex {
  display: flex;
}

.main-body--wrapper,
.container-fluid,
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

#sitelogo,
#sitelogo-foot {
  height: 45px;
  max-width: 250px;
}

.flask,
.cactus {
  fill: #201e1d;
}

html.dark-theme .flask,
html.dark-theme .cactus {
  fill: #e0e0e0;
}

footer #social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  margin-left: auto;
}

footer #social-icons a {
  display: flex;
  color: #9ca3af;
  transition: color 0.2s;
}

footer #social-icons a:hover,
footer #social-icons a:focus {
  color: var(--color-accent-3);
}

.dark-theme footer #social-icons a {
  color: #6b7280;
}

.dark-theme footer #social-icons a:hover,
.dark-theme footer #social-icons a:focus {
  color: var(--color-accent-3);
}

footer #social-icons svg {
  width: 32px;
  height: 32px;
}

footer #spring-links a:hover {
  color: #086dc3;
  text-decoration: underline;
}

.sidebar-links {
  display: none;
  padding: 10px 0;
}

.sidebar-links a {
  display: block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-left: 32px;
  color: var(--body-font-dark-color);
  margin: 8px 0;
  cursor: pointer;
}

.sidebar-links a:hover {
  color: var(--link-font-color);
  text-decoration: none;
}

.sidebar-links a:hover svg {
  fill: var(--link-font-color);
}

.sidebar-links a svg {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
}

html.dark-theme .sidebar-links a svg {
  fill: #fff;
}

html.dark-theme .sidebar-links a:hover svg {
  fill: var(--link-font-color);
}

#modal-versions .colset {
  color: var(--body-font-dark-color);
}

#modal-versions .colset .col-left {
  padding: 1.5rem 2rem;
}

@media screen and (max-width: 1023.5px) {
  #modal-versions .colset {
    display: block;
  }

  #modal-versions .colset .col-left {
    width: 100%;
  }
}

#modal-versions ul {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#modal-versions ul li {
  padding: 0.2rem 0;
}

#modal-versions .anchor {
  display: none;
}

#modal-versions a {
  display: inline-block;
  color: var(--link-font-color);
}

#modal-versions ul li.component {
  padding-bottom: 1rem;
}

#modal-versions ul li.component > a.title {
  color: var(--body-font-dark-color);
}

#modal-versions ul ul li {
  list-style: disc;
}

#modal-versions ul ul {
  font-weight: normal;
  margin: 0;
  padding: 0.4rem 0;
  margin-left: 20px;
  list-style: circle;
}

#modal-versions .nav-versions .version-item .versions {
  display: none;
  padding: 0;
  margin: 0;
  margin-left: 45px;
}

#modal-versions .nav-versions .version-item.is-active .versions {
  display: block;
}

#modal-versions .nav-versions a.title {
  color: var(--body-font-dark-color);
  padding-bottom: 10px;
}

#modal-versions .version-toggle {
  position: relative;
  border: none;
  margin: 8px 0;
  padding: 0;
  padding-left: 30px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: var(--body-font-dark-color);
}

#modal-versions .version-toggle span {
  background: transparent url(../img/chevron.svg) no-repeat center / 50%;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0;
  top: -4px;
  transform: rotate(-90deg);
}

html.dark-theme #modal-versions .version-toggle span {
  background: transparent url(../img/chevron-white.svg) no-repeat center / 50%;
}

#modal-versions .is-active .version-toggle span {
  transform: rotate(0);
}

#modal-versions ul.projects {
  width: 100%;
}
#modal-versions ul.projects-list {
  max-height: 70vh;
  overflow: auto;
  display: block;
  margin-left: 0;
}

#modal-versions .col-left {
  max-height: 80vh;
  overflow: auto;
}

#modal-versions .current {
  background-color: var(--mark-background-color);
  color: #111;
  align-items: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.75rem;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-left: 0.75rem !important;
  text-transform: uppercase;
  font-weight: 700;
}

#modal-versions .modal-versions-close {
  opacity: 0.6;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  background-color: transparent;
  width: 36px;
  height: 36px;
  right: 12px;
  top: 12px;
}

#modal-versions .modal-versions-close:hover {
  opacity: 1;
}

html.dark-theme #modal-versions .modal-versions-close .cls-1h {
  stroke: white;
}

@media screen and (min-width: 1024px) {
  .sidebar-links {
    display: block;
  }
}

html.dark-theme .invert-dark img {
  filter: invert(1);
}

.icon.red {
  color: red;
}
.icon.blue {
  color: blue;
}
.icon.yellow {
  color: yellow;
}
.icon.orange {
  color: orange;
}
.icon.green {
  color: green;
}
