.toolbar {
  color: var(--toolbar-font-color);
  align-items: center;
  background-color: var(--toolbar-background);
  background-color: color-mix(in oklab, var(--toolbar-background) 72%, transparent);
  backdrop-filter: blur(14px) saturate(1.15);
  border: none;
  box-shadow: none;
  display: flex;
  font-size: calc(15 / var(--rem-base) * 1rem);
  height: var(--toolbar-height);
  justify-content: flex-start;
  position: sticky;
  top: var(--navbar-height);
  z-index: var(--z-index-toolbar);
}

.toolbar a {
  color: inherit;
}

.toolbar-search {
  flex: 1;
  min-width: 0;
  border-left: 1px solid var(--toolbar-border-color);
  border-right: 1px solid var(--toolbar-border-color);
}

.toolbar .toolbar-search .search-trigger {
  width: 100%;
  height: var(--toolbar-height);
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}

.toolbar .toolbar-search .search-trigger:hover {
  border: none;
  box-shadow: none;
}

.toolbar .toolbar-search .search-icon {
  margin-left: 0.75rem;
}

.toolbar .toolbar-search .search-trigger-text {
  opacity: 0.9;
}

.toolbar .toolbar-search kbd.search-key {
  margin-right: 0.75rem;
  border: none;
  background: transparent;
  box-shadow: none;
  opacity: 0.6;
}

.toolbar-actions {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}

.toolbar-markdown-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--toolbar-height);
  height: var(--toolbar-height);
  border-left: 1px solid var(--toolbar-border-color);
  margin-right: 0.35rem;
}

.toolbar-markdown-link:hover {
  color: var(--link-font-color);
  text-decoration: none;
}

.toolbar-markdown-link svg {
  width: 20px;
  height: 20px;
}

.nav-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: var(--toolbar-height);
  width: var(--toolbar-height);
  margin-right: -0.25rem;
}

.toolbar button.search-button {
  width: 200px;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  height: 40px;
  line-height: 40px;
  margin-left: 0.4rem;
}

.toolbar button.search-button:hover {
  box-shadow: none;
}

.toolbar button.search-button svg {
  top: 10px;
}

html.dark-theme .nav-toggle {
  background: url(../img/menu-dark.svg) no-repeat 50% 47.5%;
  background-size: 49%;
}

@media screen and (min-width: 1024px) {
  .nav-toggle,
  .toolbar {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .toolbar .toolbar-search kbd.search-key {
    display: none;
  }
}

.nav-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

html.dark-theme .nav-toggle.is-active {
  background-image: url(../img/back-dark.svg);
  background-size: 41.5%;
}

.home-link {
  display: block;
  background: url(../img/home-o.svg) no-repeat center;
  height: calc(var(--toolbar-height) / 2);
  width: calc(var(--toolbar-height) / 2);
  margin: calc(var(--toolbar-height) / 4);
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home.svg);
}
