<article class="page-404">
  <div class="page-404-hero">
    <a href="{{{or site.homeUrl '/'}}}">
      <img
        class="page-404-image"
        src="{{{uiRootPath}}}/img/404.png"
        alt="404"
      /></a>
  </div>
  <div class="paragraph">
    <p class="strong">
      Looks like you took a wrong turn in Albuquerque.
    </p>
    <p>There’s nothing here.</p>
    <p>Go to
      <a href="{{{or site.homeUrl '/'}}}">homepage</a></p>
  </div>
</article>
