<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item site-logo-link" href="/">
        <svg
          id="sitelogo"
          class="block ol-logo ol-logo-flask"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          alt="Outskirts Labs' logo, a laboratory flask with a bubbling cactus inside."
          role="img"
        >
          <path
            class="flask"
            d="M46.319 99.923c-4.293-.787-6.164-1.35-8.953-2.69-3.06-1.47-5.399-3.152-8.013-5.76-3.295-3.288-5.218-6.252-6.877-10.597-1.272-3.334-1.588-5.337-1.587-10.054.002-5.396.304-6.414 1.392-9.474 1.029-3.179 3.028-6.228 3.539-6.981.76-1.066.994-1.416 2.795-3.494 1.727-1.992 5.058-4.503 7.98-6.015l1.746-.903v-19.41l-.972-.446c-1.195-.548-2.092-1.434-2.777-2.743-.448-.855-.524-1.253-.531-2.792-.01-2.187.442-3.243 1.996-4.66 1.673-1.527 2.17-1.626 8.179-1.624h5.195l-.008 1.048c-.005.576.06 1.29.14 1.586l.149.54-5.273.059c-4.965.055-5.305.083-5.823.47-1.422 1.062-1.785 2.42-1.037 3.877.55 1.07 1.533 1.628 3.098 1.757l1.054.088v24.427l-1.788.741c-3.297 1.367-6.506 3.598-8.984 6.247-4.531 4.843-6.977 11.055-6.98 17.727 0 1.22.053 2.487.119 2.814.117.59.134.597 1.745.713 1.6.115 3.86.737 5.688 1.566.973.44 1.961.898 6.514 3.012 2.876 1.336 4.272 1.79 4.596 1.59.106-.066.184.61.184 1.603v1.716l-.748-.136c-1.724-.313-2.977-.935-6.63-2.927-.658-.358-1.735-.943-2.393-1.298l-2.792-1.507c-1.985-1.071-3.328-1.602-4.68-1.847l-1.049-.19.13.815c.181 1.128 1.018 3.57 1.757 5.121 2.198 4.621 6.137 8.916 10.495 11.444 2.269 1.317 2.489 1.371 3.788.933.623-.21 2.022-.563 3.107-.785 1.086-.222 1.496-.617 2.138-.662l10.296.544c.52.071 1.788.347 2.818.613l1.873.485 1.318-.722c2.07-1.134 3.766-2.406 5.672-4.256 1.694-1.644 3.924-4.326 3.924-4.719 0-.104-1.055-.393-2.344-.643s-3.376-.673-4.637-.942c-2.832-.602-4.983-.632-6.995-.097-.815.216-1.55.396-1.632.398-.082.003-.15-.56-.15-1.25v-1.257l1.4-.24c3.361-.576 5.318-.242 11.823 2.016l3.149 1.094.695-1.38c2.165-4.3 3.137-9.315 2.682-13.85-.461-4.609-1.808-8.416-4.369-12.354-1.161-1.787-5.093-5.728-6.902-6.921-1.348-.916-4.713-2.567-4.987-2.636l-.498-.125V21.731l.997-.256c1.458-.374 2.394-1.507 2.393-2.897-.001-1.343-.545-2.22-1.693-2.727-.822-.363-.871-.427-.693-.897.106-.278.192-1 .192-1.605v-1.1l.649.14c3.22.696 5.386 4.05 4.74 7.339-.302 1.533-1.333 3.124-2.505 3.867l-.875.554-.003 10.072-.003 10.073 1.572.837c2.33 1.24 4.833 3.107 6.877 5.129 1.48 1.41 5.106 5.342 7.064 11.587 1.052 3.359 1.317 5.188 1.314 9.075-.003 3.705-.216 5.208-1.211 8.577-.439 1.483-2.725 6.464-3.03 6.782-.016.016-1.423 1.978-1.423 2.087 0 .174-1.757 2.077-3.32 3.597-3.782 3.678-8.864 6.383-14.233 7.577-1.454.323-8.384.598-9.574.38z"
          ></path>
          <path
            class="cactus"
            d="M55.247 93.518v-13.67l7.512.185c1.897.047 3.46-.912 3.46-2.044V62.506c0-1.162-1.543-2.106-3.404-2.106-1.864 0-3.348.944-3.348 2.106v13.44h-4.108v-25.04c0-2.075-2.415-3.715-5.413-3.715-2.993 0-5.412 1.64-5.412 3.716l.127 15.203-3.58-.339v-5.76c0-.79-1.02-1.424-2.288-1.424-1.263 0-2.288.634-2.288 1.424v7.246c0 .816 1.165 1.487 2.567 1.487h5.462v24.774"
          ></path>
          <g class="bubbles">
            <path
              class="bubble bubble1"
              d="M69.709 77.507c-1.576-.52-2.423-1.706-2.429-3.4-.007-2.067 1.423-3.483 3.521-3.486 1.037-.002 1.628.221 2.44.92.788.678 1.11 1.611 1.014 2.945-.081 1.135-.545 1.955-1.48 2.612-.482.338-.763.418-1.645.467-.584.033-1.224.006-1.421-.058z"
            ></path>
            <path
              class="bubble bubble2"
              d="M49.202 30.478c-1.863-.707-2.847-2.236-2.847-4.424 0-2.774 1.821-4.585 4.588-4.563 2.128.017 3.32.699 4.268 2.441.515.945.557 1.165.44 2.303-.215 2.1-.886 3.224-2.415 4.042-.955.512-2.953.612-4.034.201z"
            ></path>
            <path
              class="bubble bubble3"
              d="M53.126 16.197c-1.532-.81-2.067-2.19-1.677-4.324.162-.887 1.072-1.892 2.05-2.264.656-.249 2.101-.236 2.795.026 2.675 1.009 3.033 5.032.574 6.473-1.066.625-2.655.663-3.742.089z"
            ></path>
            <path
              class="bubble bubble4"
              d="M47.005 5.454c-1.907-.94-1.936-4.245-.046-5.201.271-.137.994-.25 1.607-.252.975-.003 1.208.078 1.875.655.677.585.772.781.853 1.767.067.798-.006 1.317-.257 1.845-.631 1.331-2.577 1.903-4.032 1.186z"
            ></path>
          </g></svg>
        <span class="site-logo-text">Docs</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://outskirtslabs.com">Outskirts
              Labs</a>
            <a class="navbar-item" href="https://casey.link">Casey Link</a>
            <a class="navbar-item" href="https://casey.link/blog">Blog</a>
            <a class="navbar-item" href="https://casey.link/atom/articles">RSS
              Feed</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Get Help</a>
          <div class="navbar-dropdown">
            {{!--
            <a class="navbar-item" href="/support"><svg
                class="navbar-item-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
              ><path
                  d="M128,224S24,168,24,102A54,54,0,0,1,78,48c22.59,0,41.94,12.31,50,32,8.06-19.69,27.41-32,50-32a54,54,0,0,1,54,54C232,168,128,224,128,224Z"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="16"
                /></svg>
              Support</a>
            --}}
            <a
              class="navbar-item"
              href="https://matrix.to/#/@ramblurr:outskirtslabs.com"
            ><svg
                class="navbar-item-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
              ><path
                  fill="currentColor"
                  d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM80,200H64a8,8,0,0,1-8-8V64a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H72V184h8a8,8,0,0,1,0,16Zm80-40a8,8,0,0,1-8-8V120a8,8,0,0,0-16,0v32a8,8,0,0,1-16,0V120a8,8,0,0,0-16,0v32a8,8,0,0,1-16,0V104a8,8,0,0,1,13.66-5.65A23.94,23.94,0,0,1,128,102.13,24,24,0,0,1,168,120v32A8,8,0,0,1,160,160Zm40,32a8,8,0,0,1-8,8H176a8,8,0,0,1,0-16h8V72h-8a8,8,0,0,1,0-16h16a8,8,0,0,1,8,8Z"
                /></svg>
              DM on Matrix</a>
            <a
              class="navbar-item"
              href="https://clojurians.slack.com/team/U70QFSCG2"
            ><svg
                class="navbar-item-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
              ><path
                  fill="currentColor"
                  d="M221.13,128A32,32,0,0,0,184,76.31V56a32,32,0,0,0-56-21.13A32,32,0,0,0,76.31,72H56a32,32,0,0,0-21.13,56A32,32,0,0,0,72,179.69V200a32,32,0,0,0,56,21.13A32,32,0,0,0,179.69,184H200a32,32,0,0,0,21.13-56ZM88,56a16,16,0,0,1,32,0V72H104A16,16,0,0,1,88,56ZM40,104A16,16,0,0,1,56,88h48a16,16,0,0,1,16,16v16H56A16,16,0,0,1,40,104Zm128,96a16,16,0,0,1-32,0V184h16A16,16,0,0,1,168,200Zm32-32H152a16,16,0,0,1-16-16V136h64a16,16,0,0,1,0,32Z"
                /></svg>
              DM Clojurians Slack</a>
            <a
              class="navbar-item"
              href="https://bsky.app/profile/casey.link"
            ><svg
                class="navbar-item-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 600 530"
              ><path
                  fill="currentColor"
                  d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
                /></svg>
              Via Bluesky</a>
            <a class="navbar-item" href="mailto:casey@outskirtslabs.com"><svg
                class="navbar-item-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
              ><path
                  fill="currentColor"
                  d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-8,144H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"
                /></svg>
              casey@outskirtslabs.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-toggle" role="radiogroup" aria-label="Theme">
      <button
        class="theme-toggle-btn"
        data-theme-value="light"
        aria-label="Light theme"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ><circle cx="12" cy="12" r="5" /><line
            x1="12"
            y1="1"
            x2="12"
            y2="3"
          /><line x1="12" y1="21" x2="12" y2="23" /><line
            x1="4.22"
            y1="4.22"
            x2="5.64"
            y2="5.64"
          /><line x1="18.36" y1="18.36" x2="19.78" y2="19.78" /><line
            x1="1"
            y1="12"
            x2="3"
            y2="12"
          /><line x1="21" y1="12" x2="23" y2="12" /><line
            x1="4.22"
            y1="19.78"
            x2="5.64"
            y2="18.36"
          /><line x1="18.36" y1="5.64" x2="19.78" y2="4.22" /></svg>
      </button>
      <button
        class="theme-toggle-btn"
        data-theme-value="dark"
        aria-label="Dark theme"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" /></svg>
      </button>
      <button
        class="theme-toggle-btn"
        data-theme-value="system"
        aria-label="System theme"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ><rect x="2" y="3" width="20" height="14" rx="2" ry="2" /><line
            x1="8"
            y1="21"
            x2="16"
            y2="21"
          /><line x1="12" y1="17" x2="12" y2="21" /></svg>
      </button>
      <span class="theme-toggle-pill"></span>
    </div>
  </nav>
</header>
