---
name: update-flake-lock
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 06 ? * MON"

jobs:
  update-inputs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g=
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          nix-options: --accept-flake-config
          inputs: nixpkgs
          pr-title: "flake.lock: update nixpkgs"
          pr-labels: |
            dependencies
            automated
